<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ulpgc.da.fernando.foodieapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_foodie_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_foodie_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodieApp">
        <activity android:name=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".restaurantsList.RestaurantsListActivity" />
        <activity android:name=".restaurantCarta.RestaurantCartaActivity" />
        <activity android:name=".menuDetail.MenuDetailActivity" />

        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".restaurantProfile.RestaurantProfileActivity" />
        <activity android:name=".editAccount.EditAccountActivity" />
        <activity android:name=".myMenus.MyMenusActivity" />
        <activity android:name=".editMenu.EditMenuActivity" />
        <activity android:name=".createMenu.CreateMenuActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>